{{!< layout.html }}
<div class="content col-lg-8">
  <div>
    <h2>Archive</h2>
    {{# archives contents.articles }}
    <strong>{{year}}</strong>
    <ul>
      <li>
        {{#months}}
        <strong>{{month}}</strong>
        <ul>
          {{#articles}}
          <li><a href="{{url}}">{{title}}</a></li>
          {{/articles}}
        </ul>
        {{/months}}
      </li>
    </ul>
    {{/ archives }}
  </div>

  <div class="container pageNav">
    <ul class="pagination">
      <li>{{#nextPage}}<a class="next pull-left" href="{{url}}">« Older</a>{{/nextPage}}</li>
      <li>{{#prevPage}}<a class="prev pull-right" href="{{url}}">Newer »</a>{{/prevPage}}</li>
    </ul>
  </div>
</div>
