{{!< layout.html }}
<div class="content col-lg-8">
  <div>
    <div class="page-header">
      <h2><a href="{{page.url}}">{{page.title}}</a></h2>
      {{#if page.metadata.author}}<div class="text-muted credit">Written by: {{page.metadata.author}}</div>{{/if}}
      <div class="date">{{date page.date}}</div>
    </div>
    <div>{{{page.html}}}</div>
    {{#hasMore}}<a class="more" href="{{url}}">more</a>{{/hasMore}}
  </div>

  <div class="pageNav">
    <ul class="pagination">
      <li>{{#nextPage}}<a class="next pull-left" href="{{url}}">« Older</a>{{/nextPage}}</li>
      <li>{{#prevPage}}<a class="prev pull-right" href="{{url}}">Newer »</a>{{/prevPage}}</li>
    </ul>
  </div>
</div>
