{{!< layout.html }}
<div class="content col-lg-8">
  {{#articles}}
  <div>
    <div class="page-header">
      <h2><a href="{{url}}">{{title}}</a></h2>
    </div>
    <div class="lead">{{{intro}}}</div>
    {{#hasMore}}<a class="more" href="{{url}}">more</a>{{/hasMore}}
  </div>
  {{/articles}}

  <div class="pageNav">
    <ul class="pagination">
      <li>{{#nextPage}}<a class="next pull-left" href="{{url}}">« Older</a>{{/nextPage}}</li>
      <li>{{#prevPage}}<a class="prev pull-right" href="{{url}}">Newer »</a>{{/prevPage}}</li>
    </ul>
  </div>
</div>
